{{#has_toc}}
<aside class="toc-sidebar">
    {{toc}}
</aside>
{{/has_toc}}
<article{{#has_toc}} class="has-toc"{{/has_toc}}>
    <h1>{{title}}</h1>
    {{#subtitle}}<p class="subtitle">{{subtitle}}</p>{{/subtitle}}
    <p class="post-meta">
        <time class="post-date" datetime="{{published_date_iso}}">{{published_date}}</time>
    </p>
    <section>
        {{body}}
    </section>
    <p class="end-mark">■</p>
</article>
{{#has_toc}}
<script src="{{root}}static/js/toc.js"></script>
{{/has_toc}}
